export(
"addLabels",
"annotateSegments",
"arInSeg",
"ARloh",
"coverParamSpace",
"eoDist",
"ePeakPos",
"estimateLOHcurve",
"gcCorrect",
"getLocalSolutions",
"intersectSegments",
"peakProximity",
"plotModelPeaks",
"prepAR",
"prepCN",
"prepCopyAr", 
"removePeaks",
"scaleReadCounts",
"scaleSegments",
"segmentAR",
"segmentSeqData",
"selectPeaks",
"showTumourProfile",
"plotSegment"
)
importFrom(MASS, kde2d )
importFrom(copynumber, pcf )
importFrom(copynumber, winsorize )
importFrom(data.table, rbindlist)
importFrom(GenSA, GenSA)
importFrom(fields, interp.surface)
importFrom(gplots, hist2d)
