export(
"addLabels",
"annotateSegments",
"arInSeg",
"coverParamSpace",
"eoDist",
"ePeakPos",
"gcCorrect",
"getLocalMins",
"intersectSegments",
"peakProximity",
"plotModelPeaks",
"prepAR",
"prepCN",
"prepCopyAr", 
"removePeaks",
"scaleReadCounts",
"scaleSegments",
"segmentAR",
"segmentSeqData",
"selectPeaks",
"showTumourProfile",
"plotSegment"
)